html {
  text-align: center;
  font-family:sans-serif;
}

body {
  background:linear-gradient(orange, aqua);
}

button.upgrader {
  background:hsl(180, 50% 60%);
}

.progess-bar {
  background:rgb(129, 129, 129);
  width:225px;
  height:40px;
}

.progess-bar::before {
  content:"";
  background:var(--background-style);
  width:calc(var(--percentage) * 2.25px);
  height:40px;
}

.progess-bar::after {
  content:var(--text);
}
